.bg-green {
  background-color: #86efac;
}
.bg-teal {
  background-color: #0f766e;
}

.md-item-flex-end {
  justify-content: space-between;
}

.text-li {
  display: inline-block;
  list-style: none;
  padding: 8px 12px;
  position: relative;
  justify-content: space-between;
}
.text-li:hover {
  width: 100%;
  background-color: #0f766e;
  color: aliceblue;
  border-radius: 10px;
}

.z-index {
  position: absolute;
  z-index: -50;
}

.text-background {
  background-image: linear-gradient(to right, #6fc27c, #0f4d19);

  width: 100%;
}

.text {
  padding: 10px 8%;
  text-align: center;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  text-align: center;
}
.hero {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.topview-video {
  width: auto;
}

.topview {
  padding: 40px 10px 10px 10px;

  margin-left: 20px;
  margin-right: 20px;
}

.carousel-img {
  width: 100%;
}
.carousel-slide {
  padding: 10px 10px 10px 10px;
  margin-left: 0px;
  margin-right: 20px;
  width: 100%;
}

.carousel-slider {
  z-index: 20;
  text-align: -webkit-center;
}
.carousel-slider-information {
  height: 100%;
  padding: 0 10px 10px 10px;
  color: #ffffff;
}
